@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-fonts{
  font-family: "Quicksand";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1300px;
}
.bann{
    display: flex;
    background-color: rgba(247, 247, 247, 1);
}
.bann-1{
    display: flex;
}
#img-1{
    width: 30px;
    height: 30px;
    margin-left: 140px;
    margin-top: 5px;
}
#bann-2{
   margin-top: 5px;
   margin-bottom: 0%;
}
#li-1{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 12px; 
}
#il-1{
    font-weight: bold;
    color:rgba(254, 163, 1, 1) ;}
    
#il-2{
    color: rgba(1, 172, 253, 1);}
#il-3{
  color: rgba(5, 212, 223, 1);  }
#il-4{
    color: rgba(93, 88, 239, 1);}
.nav-2{
    margin-left: 190px;
    margin-right: 300px;
}
.btn-1{
    height: 30px;
    width: 120px;
    color: aliceblue;
    background-color: rgba(254, 163, 1, 1);
    border: none;
    border-radius: 12px;
    padding: 10 10;
    margin-top: 10px;
}
.ak{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0%;
}
#bl-1{
    color: rgba(254, 163, 1, 1);
}
#bl-2{
    color: rgba(1, 172, 253, 1);
}
.bl-3{
    color: rgba(17, 17, 17, 1);
    font-size: 12px;
}
.img-2{
    width: 300px;
    height: 350px;

}
.di-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   margin: auto;
    background-color: rgba(247, 247, 247, 1);
    }  
     
.btn-2{
    height: 30px;
    width: 120px;
    color: aliceblue;
    background-color: rgba(17, 17, 17, 1);
    border: none;
    border-radius: 12px;
    padding: 10 10;
    margin-top: 10px;
}
.pa-1{
    padding-left: 140px;
}
.pa-2{
    padding-left: 170px;
}
.ib-1{
padding-left: 40%;
font-size: 28px;
font-weight: bold;
}
.ib{
    background-image: url(assets/bg.png);
}
.ib-2{
    display: flex;
    justify-content: center;

}
.ib-3{
    margin-left: 15px;
    height: 250px;
    width: 160px;
    padding: 30px;
  background-color: rgba(222, 245, 255, 1);
    border-radius: 16px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ib-4{    margin-left: 15px;
    height: 250px;
    width: 160px;
    padding: 30px;
   background-color: rgba(255, 244, 220, 1);
    border-radius: 16px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.ib-5{
    margin-left: 15px;
    height: 250px;
    width: 160px;
    padding: 30px;
    border-radius: 16px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   background-color: rgba(242, 232, 255, 1) ;
}
.hh-0{
    font-weight: bold;
    font-size: 18px;
    color: rgba(32, 32, 32, 1);
    margin-top: 0px;
    margin-bottom: 0px;
}
.pp-0{
    font-weight: Medium;
    font-size: 10px;
}
#btt-1{
    font-weight: bold;
    font-size: 10px;
    border: 0px;
    color: rgba(100, 200, 255, 1);
    background-color: rgba(222, 245, 255, 1);
}
#btt-2{
    font-weight: bold;
    font-size: 10px;
    border: 0px;
    color: rgba(240, 170, 0, 1);
    background-color: rgba(255, 244, 220, 1);
}
#btt-3{
    font-weight: bold;
    font-size: 10px;
    border: 0px;
    color: rgba(135, 0, 255, 1);
    background-color: rgba(242, 232, 255, 1);
}
.icon{
    font-size: 25px;
    border-radius: 50%;
    background-color: rgba(254, 163, 1, 1);
    color: white;
    font-weight: 500;
}
#circu{
   margin-left: 625px;
   margin-top: 20px;
}
.mh-bg{
    background-image: url(assets/bg.png);
    background-image: linear-gradient(#fff,#FEA301);
}
#ji{
    font-weight: bold;
    font-size: 30px;
    padding-left: 45%;
}
#all-img1{
    height: 230px;
    width: 340px;
    border-radius: 12px;

}
#all-h1{
    font-weight: bold;
    font-size: 15px;
}
#all-p1{
    font-weight: medium;
    font-size: 10px;
}
.all-1{
box-shadow: 0px 0px;
background-color: white;
width: 340px;
border-radius: 12px;
grid-row: span 2;
margin-left: 120px;
}
#all-bt1{
    background-color: rgba(60, 216, 232, 1);
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: Medium;
    width: 110px;
    height: 28px;
    border-radius: 18px;
}
.all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
margin-left: 50px;
}
.common{
    box-shadow: 0px 0px;
    background-color: white;
    width: 171px;
    border-radius: 12px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    
}
.common-img{
    height: 120px;
    width: 170px;
    border-radius: 12px;
}
.common-btn{
    background-color: rgba(149, 178, 38, 1);
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: Medium;
    width: 110px;
    height: 28px;
    border-radius: 18px;
    
}
.common-h6{
    font-weight: bolder;
    font-size: 10px;
}
#jiu{
    margin-right: 800px;

}
#btn00{
    background-color: black;
    border: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 10px;
    font-weight: Medium;
    width: 120px;
    height: 28px;
    border-radius: 8px;
    margin-left: 500px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.foot{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    padding-left: 150px;
    padding-top: 50px;
    background-color: rgba(93, 84, 112, 1);
}
.foot-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
#pp-1{
    font-weight: 200;
    font-size: 10px;
    color: white;
    grid-column: span 2;
    margin-top: 0px;
   
}
#pp-2{
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
    margin-right: 80px;
   
}
#logo{
    margin-top: 15px;
}
#ab-3{
    color: white;
    font-size: 14px;
    padding-left: 35px;
}
.ul-9{
    list-style: none;
    color: white;
    font-weight: 100;
    font-size: 10px;
   
}
#ku{
    color: white;
    font-size: 15px;
}
.im-4{
    height: 22px;
    width: 22px;

}